<md-toolbar class="navbar" md-whiteframe="6">
  <div class="md-toolbar-tools">
    <h2 md-truncate>Mock</h2>
    <md-button class="md-icon-button sidebar-menu-toggle" aria-label="Sidebar Menu">
      <md-icon class="navbar-icon" md-svg-icon="app/assets/icons/indent-decrease.svg"></md-icon>
    </md-button>
    <span flex></span>
    <a ui-sref="home">home</a>
    <a ui-sref="about">about</a>
    <a ui-sref="login">login</a>
    <h3 class="logged-in-user">John Galt</h3>
    <div class="navbar-avatar" md-whiteframe="4">JG</div>
    <md-button class="md-icon-button signout-btn" aria-label="Sign Out">
      <md-icon class="navbar-icon" md-svg-icon="app/assets/icons/exit-to-app.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
