@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900');

$primaryTextColor: #fff;

$fontWeightRegular  : 400;
$fontWeightSemibold : 600;
$fontWeightBold     : 700;
$fontWeightExtrabold: 800;
$fontWeightBlack    : 900;

$text-uppercase     : uppercase;
$text-left          : left;
$text-center        : center;
$text-right         : right;

$backgroundColor    : #1c1e2f;

body {
  min-height: 100%;
  height: 100%;
  font: 1rem 'Nunito', sans-serif;
  color: $primaryTextColor;
  background-color: $backgroundColor;
}

