<navbar></navbar>
<div class="login">
  <div class="back-layer"></div>
  <div class="container">
    <header class="row text-center">
      <h1>R</h1>
    </header>
    <form class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="email"
            ng-model="vm.email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="password"
            ng-model="vm.password">
      </div>
      <button type="submit" class="btn btn-default" ng-click="vm.login()">Login</button>
      <a class="text-link" ui-sref="passwordReset">Forgot your password?</a>
    </form>
  </div>
</div>
